/*
  Lokal gebuendelte Schriftarten (Barlow / Barlow Semi Condensed).
  Herkunft: Google Fonts (https://fonts.google.com/specimen/Barlow), SIL Open
  Font License 1.1 -- siehe OFL.txt im selben Ordner. Alle Dateien liegen als
  woff2 lokal im Projekt, es gibt zur Laufzeit keinerlei Netzwerkzugriff.
*/

@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./barlow-400.woff2") format("woff2");
}

@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./barlow-500.woff2") format("woff2");
}

@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./barlow-600.woff2") format("woff2");
}

@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./barlow-700.woff2") format("woff2");
}

@font-face {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./barlow-semi-condensed-500.woff2") format("woff2");
}

@font-face {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./barlow-semi-condensed-600.woff2") format("woff2");
}

@font-face {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./barlow-semi-condensed-700.woff2") format("woff2");
}

@font-face {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("./barlow-semi-condensed-800.woff2") format("woff2");
}
